:root {
  --main-black: #100710;
  --main-violet2: #C21292;
  --main-blue: #6A4CB5;
  --main-lile:#C59AF8;
  --main-yellow: #FFA732;/*buscar un color que haga contraste sobre main-orange*/
  --main-white:#E8E9FF;
}
@font-face {
  font-family: 'Rubik Broken Fax';
  src: url('/fonts/RubikBrokenFax-Regular.ttf');/*sera necesario cambiar la fuente, por motivos esteticos*/
}

.btn1{
 text-decoration: none;
 color:var(--main-black);

}
.btn2{
  color:var(--main-white);
  font-family: 'Rubik Broken Fax';
}
body{
  width:100%;
  margin:0;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}/*se debe cambiar todo el espaciado mediante margins*/
#head{/*seria bueno crear una transicion para esta navbar, que cambia segun el gradiente de sombreado sobre el que este*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: var(--main-black);
  z-index:1000;
  font-family: 'Rubik Broken Fax';
  color:var(--main-white);
}

#header-img{
  height: 150%;
  margin-left: 3%;
  /*aqui estaria bueno colocarle sombreado blanco
  con --main-white*/
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

.nav-list li {
  display: inline-block;
  margin-right: 10px;
  
}

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image:linear-gradient(to bottom, var(--main-black), var(--main-violet2));
}
#hi{
   margin-top: 50px;
    display: flex;
    justify-content:center;
    font-family: 'Rubik Broken Fax'
}/*requiero mejores fuentes para titulos y subtitulos*/
#reliable,#heres,#some-projects-view, #heres{
    display: flex;
    justify-content:center;
}
#heres{
  
  font-family: 'Rubik Broken Fax'
}
#some-projects-view{
   margin: 0px;
   margin-bottom: 10%;
   padding-top:8%;
   font-family: 'Rubik Broken Fax';
   color:var(--main-white);/*seria bueno hacerlo un tono un poco mas gris*/
}

#projects, #welcome-section, #lets-work-together {
  width: 100%;
  padding-top: 5%;
}
#reliable,#coffee{
color:var(--main-white);
}
#projects{
  /*background-color:var(--main-violet2);/*cambiar por un tono de morado*/
  background-color: #000;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /*podria crear un gradiente linear para combinar colores entre sections*/
  /*background-image: linear-gradient(to bottom, var(--main-violet2), var(--main-blue));*/
}
.projects-grid{
  list-style-type: none;
  display: -ms-inline-grid;
  grid-template-columns: 500px;
  grid-column: auto;
  width:100%;
  /*necesito centrar el grid*/
  justify-content: center;
  align-items: center;
   
}
.project-tile{
  background-color: var(--main-yellow);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
  text-align:center;
}
.project-title{
  color:var(--main-blue);
  text-decoration: none;
}
.link-img{
  height: calc(100% - 6.8rem);
  object-fit: cover;
  width:150px;
  height: 150px;
  display:block;
  margin:auto;
}
.corc{
  display:none;
  color:white;
  transition: color 0.3s ease-out;
  margin:0;
  padding:0;
}
.project-tile:hover .corc {
  display: block;
  color:var(--main-blue);
}
.btn-show-all {
  font-size: 2rem;
  background: var(--main-lile);
  display: flex;
  justify-content:center;
  padding: 1rem 2rem;
  border-radius: 2px;
  border: 1% var(--main-black);
  width:15%;
  height:7%;
  color:white;
  font-family: 'Rubik Broken Fax';
}


#lets-work-together{
  background-color:var(--main-blue);
  background-image: linear-gradient(to bottom, var(--main-blue), var(--main-lile));
  text-align: center;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  flex: 1;
}
#lwt h2, #lwt h3{
  display: flex;
  justify-content:center;
}
#lwt h2{
  font-family: 'Rubik Broken Fax';
}
.nav-list2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family:'Rubik Broken Fax';
}
#navbar{
  display: flex;
  justify-content: center;
}
.nav-list2 ul{
  display: flex; /* Aplica un layout flexible */
  justify-content: center;
}
.nav-list2 li {
  margin: 1%;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  :root {
      --main-violet: #562D88;
      --main-pink: #8E0E6A;
      --main-orange: #B03030;
      --main-gray: #1E252B;
      --main-yellow: #CC8400;
  }
}

/*de aqui empiezan los estilos para tablet y pc*/

@media (max-width: 772px) {
  .project-tile {
    display: inline-block;
    width: 45%;
    margin: 5px;
    padding: 2px;
    vertical-align: top;
  }

  .link-img {
    width: 100%;
    max-height: 30vh;
    display: block;
    margin: auto;
  }
}

@media (min-width: 773px) and (max-width: 998px) {
  .project-tile {
    display: inline-block;
    width: 45%;
    margin: 5px;
    padding: 2px;
  }
  .projects-grid{
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 999px) {
  .project-tile {
    display: inline-block;
    width: 30%;
    margin: 5px;
    padding: 2px;
  }
  .projects-grid{
    grid-template-columns: 25% 25% 25%;
  }
}



/*debo disminuir cuando disminuya el tamano de la pantalla:
  -Logo
  -Imagenes
se debe debugguear
  -Desliz de projects-grid debajo de #lets-work-together
*/